body {
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(180deg, #9dbed1 0%, #d7e3e5 50%); */
  background: linear-gradient(180deg, #9dbed1 0%, #d7e3e5 50%, #9dbed1 100%);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.column {
  display: flex;
  padding: 0;
}
.row {
  margin: 0;
}

/* Navbar */
.nav-container {
  z-index: 3;
  position: fixed;
  width: 100%;
}
.nav-med {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-med a {
  color: white;
  text-shadow: 0px 1px 3px rgba(70, 70, 70, 1);
}
.nav-med .brand {
  color: #00789d;
  text-shadow: none;
}
.nav-med .brand:hover {
  color: #2e4d58;
}
/* Akhir Navbar */

/* Navbar Small */
.small {
  display: none;
}
.small .brand {
  color: #00789d;
}
.small .brand:hover {
  color: #2e4d58;
}
/* Akhir Navbar Small */

/* Sidebar */
.bi {
  color: black;
  text-shadow: none;
  font-weight: bold;
}
.openBtn {
  background-color: #3d9abd;
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  transition: 0.5s;
}
.openBtn:hover {
  background-color: #00789d;
  transition: 0.5s;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #9dbed1 0%, #d8e3ec 80%);
  overflow: hidden;
  padding-top: 60px;
  transition: 0.5s;
  box-shadow: 10px 0px 15px 0px rgba(0, 0, 0, 0.29);
}
.sidebar .side-brand {
  color: #00789d;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 20px;
  margin-top: 12px;
  text-shadow: none;
}
.sidebar .side-brand:hover {
  color: #2e4d58;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
  text-shadow: 0px 1px 3px rgba(70, 70, 70, 1);
}
.sidebar a:hover {
  color: #14829f;
  text-shadow: none;
}
.sidebar .closeBtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}
.sidebar .closeBtn:hover {
  color: black;
}
#main {
  transition: margin-left 0.5s;
}
/* Akhir Sidebar */

/* Jumbotron */
.jumbotron {
  width: 100%;
  height: 41rem;
  background-image: url("img/ralph-kelly-z9fFOzL5L_Y-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.jumbotron-isi {
  color: white;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
  padding: 2rem;
}
.jumbotron-search {
  padding: 15px;
}
/* Akhir Jumbotron */

/* Sell Buy */
.sellbuy-container {
  background: linear-gradient(180deg, #9dbed1 0%, #d7e3e5 50%);
  /* background-color: #d7e3e5; */
}
.sellbuy-container img {
  width: 10rem;
}
.sellbuy-text {
  padding: 50px;
}
.selling {
  border-radius: 20px;
  background-color: white;
  transition: 0.5s;
  box-shadow: -5px 10px 10px 0px rgba(0, 0, 0, 0.41);
}
.selling:hover {
  transform: scale(1.1) translate(0px, 0px);
  transition: 0.75s;
}
.buying {
  border-radius: 20px;
  background-color: white;
  transition: 0.5s;
  box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.41);
}
.buying:hover {
  transform: scale(1.1) translate(0px, 0px);
  transition: 0.75s;
}
/* Akhir Sell Buy */

@media (max-width: 576px) {
  .nav-med {
    display: none;
  }
  .small {
    display: flex;
    justify-content: start;
  }
}
@media (min-width: 576px) {
  .nav-med {
    display: flex;
  }
  .small {
    display: none;
  }
}
@media (max-width: 768px) {
  .selling:hover {
    transform: scale(1);
  }
  .buying:hover {
    transform: scale(1);
  }
  .buying {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.49);
  }
  .selling {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.49);
  }
  .step-content {
    text-align: center;
  }
}
